<%- include('../partials/header') %>
    <h3>Airline: <%= flight.airline %>
    </h3>
    <h3>Airport: <%= flight.airport %>
    </h3>
    <h3>Departs: <%= flight.departs.toLocaleString() %>
    </h3>

<%- include('../partials/footer') %>